/** **************************************
* Fonts: app
*************************************** */
@import url('./assets/fonts/YekanBakhVariable/yekan-bakh-var.css');
@import '@fontsource-variable/public-sans';

/** **************************************
* Fonts: options
*************************************** */
@import '@fontsource-variable/dm-sans';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/nunito-sans';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
  font-style: normal;
  font-variation-settings: normal;
  font-feature-settings:
    /* اعداد فارسی */ 'ss01' on,
    /* ک گ  'ss02' on, */
    /* ی  'ss03' on, */
    /* تومان و ریال  */ 'ss06' on,
    /*تراز عمودی اعداد  */ 'ss07' on;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
